# Project exclude paths
/.gradle/
/Parking Lot/task/build/
/Parking Lot/task/out/
/Parking Lot/task/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/While loops/The largest element/out/
/Topics/While loops/The largest element/out/production/classes/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/